doctype html
html(lang="ru-RU")
    head
        title Hello World!
        link(rel="stylesheet" href="css/main.css")
    body
        p Hello World!

        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
